.movies {
  &_container {
    display: grid;
    column-gap: 1em;
    row-gap: 2em;
    margin: 0 0 2em 0;
    padding: 0 0 0.5em;
    filter: drop-shadow(0 5px 0.3em rgb(10, 10, 10));

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &_movie {
    display: grid;
    background-color: transparent;
    color: $color-white;
    cursor: pointer;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    border: 0;

    &_img-container,
    &_img-container img {
      width: 100%;
      height: 100%;
    }

    &_img-container {
      border-radius: inherit;

      img {
        border-radius: inherit;
        object-fit: cover;
      }
    }
    &_text {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: left;
      padding: 0.5em 0 0.5em 0.5em;
      background-color: $color-dark-blue;
      height: 100%;

      &_rating {
        background-color: $color-deep-black;
        padding: 0.7em;
      }
    }
  }
}

// phone
@media screen and (min-width: 200px) {
  .movies {
    &_container {
      grid-template-columns: repeat(6, 153px);
      overflow-x: scroll;
    }
  }
}

// ipad
@media screen and (min-width: 600px) {
  .movies {
    .movies-container {
      grid-template-columns: repeat(4, 283px);
      overflow-x: scroll;
    }
  }
}

// laptop
@media screen and (min-width: 1024px) {
  .movies {
    &_container {
      grid-template-columns: repeat(4, 216px);
      overflow-x: none;
      margin: 0 0 5em 0;
      justify-content: center;
    }
    &_movie {
      grid-template-rows: 9fr 3fr;

      &_img-container {
        height: 40vh;
      }
      &_text {
        padding: 0.5em;
        background-color: $color-dark-blue;
      }
    }
  }
}
// desktop
@media screen and (min-width: 1920px) {
  .movies {
    &_container {
      grid-template-columns: repeat(6, 283px);
      overflow: hidden;
      margin: 0 0 5em 0;
      justify-content: center;
    }
    &_movie {
      grid-template-rows: 9fr 3fr;
      &_img-container {
        height: 40vh;
      }
      &_text {
        padding: 0.5em;
        background-color: $color-dark-blue;
      }
    }
  }
}
