.genre {
  display: grid;
  grid-template-columns: repeat(5, 320px);
  column-gap: 2.8rem;
  overflow-x: scroll;

  .movie {

    &-img-container {
            
        height: 500px;
        width: 100%;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
  }
}
