.movies {
  display: grid;
  grid-template-columns: repeat(5, 33vw);
  column-gap: 1.2rem;
  padding: 0 0 0.5rem 0;
  filter: drop-shadow(0 5px 0.3rem rgb(10, 10, 10));

  .movie {
    display: grid;
    background-color: transparent;
    color: $color-white;
    cursor: pointer;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    border: 0;

    &-img-container {
      width: 100%;
      height: 100%;
      border-radius: inherit;

      img {
        border-radius: inherit;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    &-text {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: left;
      padding: 0.5rem 0 0.5em 0.5em;
      background-color: $color-dark-blue;
      height: 100%;

      &-rating {
        background-color: $color-deep-black;
        padding: 0.5em;
      }
    }
  }
}

// under ipad
@media screen and (max-width: 37.5em) {
  .movies {
    overflow-x: scroll;
    margin: 0 0 2.5rem 0;

    .movie {
      grid-template-rows: 6fr 4fr;
    }
  }
}
// over ipad
@media screen and (min-width: 37.5em) {
  .movies {
    grid-template-columns: repeat(5, 283px);
    margin: 0 0 5rem 0;

    .movie {
      grid-template-rows: 9fr 3fr;
      &-img-container {
        height: 40vh;
      }

      &-text {
        padding: 0.5rem;
        background-color: $color-dark-blue;
      }
    }
  }
}
