.genre {
  display: grid;
  grid-template-columns: repeat(5, 33vw);
  grid-template-rows: minmax(350px, auto);
  column-gap: 1.2rem;




  .movie {
  
    border-radius: 1rem;
    
    &-img-container {
        
        height: 22vh;
        width: 100%;

        img {
            
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    &-text {
        background-color: $color-dark-blue;
    }
  }
}

// under ipad
@media screen and (max-width: 37.5em) {
    .genre {  
        overflow-x: scroll;
        margin: 0 0 1rem 0;
    }
}
// over ipad
@media screen and (min-width: 37.5em) {
    .genre {    
        grid-template-columns: repeat(5, 283px);
        margin: 0 0 5rem 0;
        .movie {

        &-img-container {
            height: 40vh;
        }
      }
    }
}
