.single-movie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  gap: 2rem;
  //   padding: 0 0 8rem 0;

  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 90%;

    margin: 0 auto;
  }

  &-img {
    position: absolute;
    top: 0;
    z-index: -1;

    &::after {
      content: "";
      background-image: linear-gradient(
        to top,
        #292847 69.5%,
        transparent 100%
      );
      width: 100vw;
      height: 100vh;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 3;
    }
  }

  &-content {
    background-color: $color-white;
    color: $color-black;
    padding: 2rem;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;

    .img-container {
      width: 24vw;
    }

    h1 {
      color: $color-periwinkle;
    }
    h3 {
      margin: 1.5rem 0 1rem 0;
    }
  }

  &-cast {
    background-color: $color-light-periwinkle;
    color: $color-black;
    width: 100%;
    // display: flex;

    .container {
      display: grid;
      grid-template-columns: repeat(6, 110px);
      grid-template-rows: minmax(50px, auto);
      overflow-x: scroll;
      padding: 1rem;
      column-gap: 1rem;
    }

    &-div {
      width: fit-content;

      &-member {
        display: flex;
        flex-direction: column;
        align-items: center;

        .placeholder {
          content: "";
          background-color: rgb(130, 130, 130);
          border-radius: 10rem;
          width: 5rem;
          height: 5rem;
        }
      }
    }
  }
}
