.single-movie {
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 100vh;
  gap: 1rem;
  margin: 12em 0 0 0;

  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 97%;
    margin: 0 auto;
  }

  &-synopsis-btn {
    margin: 1em 0 0 0;
  }

  &-img {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;

    &::after {
      content: "";
      background-image: linear-gradient(to top, #292847 76.3%, transparent 91%);
      width: 100vw;
      height: 100vh;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 3;
    }
  }

  &-content {
    background-color: $color-white;
    color: $color-black;
    padding: 2rem 2rem 0 2rem;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    width: 100%;

    .img-container {
      width: 24vw;
    }

    h1,
    h2 {
      color: $color-periwinkle;
      line-height: 32px;
    }

    h2 {
      margin: 1.5rem 0 1rem 0;
    }
  }

  &-rating-container {
    display: flex;
    align-items: center;
    gap: 0.6em;
    margin: 0 0 0.7em 0;
  }

  &-rating {
    background-color: $color-periwinkle;
    background-color: #8190eb;
    padding: 1em;
    width: fit-content;
    border-radius: 10em;
    font-weight: 700;
    color: white;
  }

  &-ratingcount {
    font-weight: 300;
  }
  &-description,
  &-runtime {
    font-weight: 500;
    line-height: 24px;
    font-size: 1.1em;
  }

  &-cast {
    background-color: $color-light-periwinkle;
    color: $color-black;
    width: 100%;
    overflow-x: hidden;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;

    .container {
      display: grid;
      grid-template-columns: repeat(6, 103px);
      grid-template-rows: minmax(50px, auto);
      padding: 1.5rem 1.1em;
      overflow-x: auto;
    }

    &-div {
      width: fit-content;

      &-member {
        display: flex;
        flex-direction: column;
        align-items: center;

        &-name {
          font-weight: 500;
        }

        .placeholder {
          content: "";
          background-color: rgb(130, 130, 130);
          border-radius: 10rem;
          width: 4rem;
          height: 4rem;
        }
      }
    }
  }
}

// queries
// phone
@media screen and (min-width: 200px) {
}

// ipad
@media screen and (min-width: 600px) {
  .single-movie {
    .wrapper {
      width: 717px;
    }

    &-img {
      &::after {
        background-image: linear-gradient(
          to top,
          #292847 58.3%,
          transparent 91%
        );
      }
    }
  }
}

// laptop
@media screen and (min-width: 1024px) {
  .single-movie {
    &-img {
      &::after {
        background-image: linear-gradient(
          to top,
          #292847 33.3%,
          transparent 80%
        );
      }
    }
  }
}
// desktop
@media screen and (min-width: 1920px) {
  .single-movie {
    .wrapper {
      width: 1037px;
    }
  }
}
