*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
    overflow-x: hidden;
    font-weight: 100;
}
h1, h2, h3, h4 {
    text-transform: capitalize;
}

h1 {
    margin: 0 0 1rem 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #373b69;
  color: #ebe5e2;
}

// media queries
// under ipad
@media screen and (max-width: 37.5em) {
    .container {
        padding: 5rem .5rem;
      }
    h1 {
        font-size: 2.5rem;
    }
    h3 {
        font-size: 1rem;
    }
}
// over ipad
@media screen and (min-width: 37.5em) {
    .container {
        padding: 5rem 2rem;
      }
}


