// Color
$color-light-periwinkle: #eceefb;
$color-periwinkle: #8190eb;
$color-white: #ffffff;
$color-teal: #83cfdf;
$color-teal-light: #83d0dfd8;
$color-blue-green: #13688c;
$color-dark-blue: #3a3a6387;
$color-black: #292847;

$font-main: "Nunito Sans", sans-serif;

// buttons
.btn-primary {
  width: 100%;
  border-radius: 10rem;
  background-color: $color-periwinkle;
  color: $color-white;
  font-size: 1.5rem;
  padding: 1.2rem;
}

.btn-navigation {
  content: "";
  position: absolute;
  border: solid 2px $color-periwinkle;
  border-radius: 10rem;
  width: 2.3rem;
  height: 2.3rem;
  top: 37px;
  left: 22px;
  z-index: 1;
}
