// Color    
$color-periwinkle: #708ED2;
$color-white: #EBE5E2;
$color-teal: #83CFDF;
$color-teal-light: #83d0dfd8;
$color-blue-green: #13688C;
$color-dark-blue: 
#3a3a6387;
$color-black: #292847;

$font-main: 'Nunito Sans', sans-serif;