.banner {
  height: 800px;
  position: relative;

  &_img {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;

    &::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-image: linear-gradient(
        180deg,
        #292847 -24%,
        transparent 41%,
        #292847 100%
      );
    }
  }

  &_body {
    width: min(90vw, 100%);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 6em 2em 13em 2em;
  }

  &_heading {
    font-size: $font-size-main;
    font-weight: $font-weight-main;
    color: white;
    line-height: 65px;
  }
}

// queries
// phone
@media screen and (min-width: 200px) {
  //   .banner {
  //     // &_img {

  //     //   &::after {
  //     //   }
  //     // }

  //     // &_body {
  //     // }
  //   }
}

// Max ipad
@media screen and (max-width: 600px) {
  .banner {
    height: max-content;
    margin: 0 0 2em 0;

    &_heading {
      font-size: 2.7em;
    }

    &_body {
      gap: 2em;
      padding: 6em 2em 0em 2em;
    }
  }
}

// ipad
@media screen and (min-width: 600px) {
}

// laptop min
@media screen and (min-width: 1024px) {
  .banner {
    &_heading {
      font-size: 3em;
    }
    // &_img {

    //   &::after {
    //   }
    // }

    &_body {
      width: 75%;
      padding: 7em 7em 9em 7em;
    }
  }
}

// laptop max
@media screen and (max-width: 1024px) {
  .banner {
    &_heading {
      line-height: 41px;
      font-size: 2.6em;
    }
    &_img {
      &::after {
        background-image: linear-gradient(
          180deg,
          #292847 0%,
          transparent 55%,
          #292847 99%
        );
      }
    }

    // &_body {
    // }
  }
}

// desktop
@media screen and (min-width: 1500px) {
  .banner {
    &_heading {
      font-size: 4em;
    }
    // &_img {

    //   &::after {
    //   }
    // }

    // &_body {
    // }
  }
}
