.btn-primary {
  width: 100%;
  border-radius: 10rem;
  background-color: #8190eb;
  color: #ffffff;
  font-size: 1.5rem;
  padding: 1.2rem;
}

.btn-navigation {
  content: "";
  position: absolute;
  border: solid 2px #8190eb;
  border-radius: 10rem;
  width: 2.3rem;
  height: 2.3rem;
  top: 37px;
  left: 22px;
  z-index: 1;
}

*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  position: relative;
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 1rem 0;
}

.row {
  width: 100%;
  display: flex;
  gap: 20px;
  margin: 0 0 1rem 0;
}

.col-2 {
  width: 16.66;
}

col-10 {
  width: 83.33%;
}

button {
  background-color: transparent;
  border: none;
  color: #8190eb;
  cursor: pointer;
}

body {
  overflow-x: hidden;
  font-weight: 100;
  font-family: "Nunito Sans", sans-serif;
  background-color: #292847;
  color: #ffffff;
}

h1,
h2,
h3,
h4 {
  text-transform: capitalize;
  font-weight: 600;
}

h1 {
  letter-spacing: 0.7px;
  color: #83cfdf;
}

button {
  font-weight: 500;
  font-size: 0.9rem;
}

h2,
h2 {
  text-transform: uppercase;
}

h2 {
  letter-spacing: 0.3px;
  color: rgba(131, 208, 223, 0.8470588235);
}

h3 {
  font-weight: 400;
}

main {
  padding: 0 0.8rem;
}

header {
  background-color: rgba(58, 58, 99, 0.5294117647);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  margin: 0 0 2rem 0;
}

img {
  border-radius: inherit;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hide {
  display: none;
}

.show {
  display: block;
}

@media screen and (max-width: 37.5em) {
  .container {
    padding: 0 1.5rem;
  }
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.1rem;
  }
  h3 {
    font-size: 1rem;
  }
}
@media screen and (min-width: 37.5em) {
  .container {
    padding: 0 2rem;
  }
}
.movies {
  display: grid;
  grid-template-columns: repeat(5, 33vw);
  grid-template-rows: repeat(1, 1fr);
  -moz-column-gap: 1.2rem;
       column-gap: 1.2rem;
  padding: 0 0 0.5rem 0;
}
.movies .movie {
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  border: 0;
}
.movies .movie-img-container {
  height: 22vh;
  width: 100%;
  border-radius: inherit;
}
.movies .movie-img-container img {
  border-radius: inherit;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.movies .movie-text {
  padding: 0.5rem;
  background-color: rgba(58, 58, 99, 0.5294117647);
}

@media screen and (max-width: 37.5em) {
  .movies {
    overflow-x: scroll;
    margin: 0 0 2.5rem 0;
  }
}
@media screen and (min-width: 37.5em) {
  .movies {
    grid-template-columns: repeat(5, 283px);
    margin: 0 0 5rem 0;
  }
  .movies .movie-img-container {
    height: 40vh;
  }
}
.movie {
  filter: drop-shadow(0 5px 0.3rem rgb(10, 10, 10));
}

.single-movie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  gap: 1rem;
  margin: 1rem 0 0 0;
}
.single-movie .wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
}
.single-movie-img {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.single-movie-img::after {
  content: "";
  background-image: linear-gradient(to top, #292847 69.5%, transparent 100%);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}
.single-movie-content {
  background-color: #ffffff;
  color: #292847;
  padding: 2rem 2rem 0 2rem;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}
.single-movie-content .img-container {
  width: 24vw;
}
.single-movie-content h1,
.single-movie-content h2 {
  color: #8190eb;
  line-height: 25px;
}
.single-movie-content h2 {
  margin: 1.5rem 0 1rem 0;
}
.single-movie-ratingcount {
  font-size: 0.8em;
  font-weight: 400;
}
.single-movie-description, .single-movie-runtime {
  font-weight: 500;
  line-height: 24px;
}
.single-movie-cast {
  background-color: #eceefb;
  color: #292847;
  width: 100%;
  overflow-x: hidden;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.single-movie-cast .container {
  display: grid;
  grid-template-columns: repeat(6, 110px);
  grid-template-rows: minmax(50px, auto);
  padding: 1.5rem;
  overflow-x: auto;
}
.single-movie-cast-div {
  width: -moz-fit-content;
  width: fit-content;
}
.single-movie-cast-div-member {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.single-movie-cast-div-member-name {
  font-weight: 500;
}
.single-movie-cast-div-member .placeholder {
  content: "";
  background-color: rgb(130, 130, 130);
  border-radius: 10rem;
  width: 4rem;
  height: 4rem;
}/*# sourceMappingURL=index.css.map */