// helpers
.d-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 1rem 0;
}
.row {
  width: 100%;
  display: flex;
  gap: 20px;
  margin: 0 0 1rem 0;
}
.col-2 {
  width: 8.33 * 2;
}
col-10 {
  width: 83.33%;
}
